<div class="container" data-ng-init="init()">
    <form>
      <h3 class="col-md-12">Membreco...</h3>
      <label for="gxis">Vi membriĝas por... *</label>
      <select class="form-control" ng-model="jaroj" ng-change="updateEntuto()">
        <option ng-value="1">
            Nur por la nuna jaro ({{jaro}})
        </option>
        <option ng-value="1.1">
            Nur por la venonta jaro ({{jaro + 1}})
        </option>
        <option ng-value="2">
            Tiu ĉi jaro kaj la venonta jaro ({{jaro}} kaj {{jaro + 1}})
        </option>
        <option ng-value="5">
            ĝis {{jaro + 5}} (por 5 jaroj)
        </option>
        <option ng-value="25">
          Dumvive
        </option>
      </select>

  <div class="form-group col-md-12">
    <h4><b>Vi membriĝas je la kategorio...</b></h4>
      <div class="radio"
           ng-repeat="mem in membrecgrupoj">
          <label>
            <input type="radio"
                   ng-model="$parent.memelektita"
                   ng-value="mem"
                   ng-change="updateEntuto()"
                   name="kategorio">
            <b ng-show="mem == retmembreco" style="color:#F7B733">
              <i class="fa fa-star" aria-hidden="true"></i>
            </b>
            <b>{{mem.nomo}}:</b> {{mem.priskribo}}
            <b>kotizo:</b>
            <b ng-if="!tejoagxo">{{(jaroj | number:0) * mem.kotizo}}</b>
            <b ng-if="tejoagxo">{{(jaroj | number:0) * (mem.kotizo - mem.junaRabato)}}</b>
            {{valuto}}

            <span ng-show="mem == retmembreco" class="noto">
              <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
              Baldaŭ tiu estos la nura elektebla kategorio, ni forte rekomendas membriĝi je ĝi
            </span>
          </label>
      </div>
  </div>

  <div class="form-group col-md-12">
    <h4 for="krome"><b>Krom la baza membrenco, vi povas havi...</b></h4>
    <p>Vi havos tion proporcie al la tempo al kiu vi aliĝas</p>
    <div class="checkbox"
         ng-repeat="krom in krommembrecoj">
        <label>
          <input type="checkbox"
                 ng-init="krom.elektita=false"
                 ng-model="krom.elektita"
                 ng-change="updateEntuto();">
          <b>{{krom.nomo}}:</b> {{krom.priskribo}}
          <b>kotizo:</b>
          <b ng-if="!tejoagxo">{{(jaroj | number:0) * krom.kotizo}}</b>
          <b ng-if="tejoagxo">{{(jaroj | number:0) * (krom.kotizo - krom.junaRabato)}}</b>
          {{valuto}}
        </label>
      </form>
    </div>
  </div>

   <h2 align="center" ng-show="!novkotizo || novkotizo == entuto || memelektita != retmembreco">
      Entuto: {{entuto}} {{valuto}}
   </h2>

    <h2 ng-show="(novkotizo > -1 && novkotizo != entuto && memelektita == retmembreco)" align="center">
       Entuto: <strike>{{entuto}} {{valuto}}</strike>... {{novkotizo}} {{valuto}}
    </h2>

  <p align="center" ng-show="memelektita == retmembreco">
     <a data-title="Enmetu kiom vi povas pagi"
        href=""
        editable-number = "novkotizo"
        onaftersave = "petiRabaton($data)"
        e-min = "0"
        e-label="Tajpu kiom vi povas pagi:"
        e-step = "any">
        Se tiu monsumo estas tro alta por vi aŭ se vi povas pagi pli ol tio, klaku ĉi tie.
    </a>
   </p>

  <div class="form-group col-md-12" ng-show="kanuto && memelektita == retmembreco">
   <label for="komento">
     Vi petas rabaton pli granda ol 30%. Nia organizo havas tre limigitajn
     subvenciojn por membrado. Kial vi kredas ke vi meritas ricevi
     subvencion por via membrado? (Danke al fondaĵo Kanuto)
   </label>
   <textarea class="form-control" rows="5" id="komento" ng-model="kanutkialo"></textarea>
 </div>

  <div class="form-group text-center">
      <a ui-sref="form.prihomo" class="btn btn-outline-rounded btn-default">
        <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span>
        Antaŭa
      </a>
      <a ui-sref="form.donaci" class="btn btn-outline-rounded btn-default"> Malantaŭa
        <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
      </a>
  </div>
</div>
