<div class="alert alert-danger alert-dismissable" id="eraro"
      ng-show="irita && prihomo.$invalid">
  Estas eraroj en la aliĝilo
</div>

<div class="alert alert-success" ng-show="malkovrita">
    Ni sukcesis retrovi viajn datumojn. Se iu ne ŝajnas korekta, skribu al <b>sekretario@co.uea.org</b>
    aŭ ŝanĝu ilin en reta membrospaco.
</div>
<h3 class="col-md-12">Pri vi...</h3>
<ul>
    <li>
      <a ng-click="ensalutado = !ensalutado" href="">UEA jam havas miajn datumojn</a>
    </li>
</ul>
<div class="ensaluti" ng-show="ensalutado == true">
  <b>Ensalutu por retrovi viajn datumojn: </b>
  (se via lasta aliĝo estis de antaŭ ol pli 3 jaroj, eble UEA ne plu havas viajn datumojn)
  <a ng-click="ensalutado = !ensalutado" href="" style="float:right">[fermi ensalutilon]</a>

  <div class="alert alert-danger alert-dismissable" id="eraro"
      ng-show="msg">
    {{msg}}
  </div>
  <form class="form-inline" style="margin:12px">
    <div class="form-group">
      <label for="email">Salutvorto:</label>
      <input type="text" class="form-control" ng-model="u.uzantnomo">
    </div>
    <div class="form-group">
      <label for="pwd">Pasvorto:</label>
      <input type="password" class="form-control" ng-model="u.pasvorto">
    </div>
    <button type="submit" class="btn btn-default" ng-click="ensaluti()">Ensaluti</button>
  </form>
  Se vi forgesis vian pasvorton, restarigu ĝin en la
  <a href="{{membrospaco_url}}" target="_blank">
    reta membrospaco
  </a>
  <p>
    Se vi ne sukcesas ensaluti pro iu alia kialo, skribu al <b>info@uea.org</b>
</p>
</div>

<form name="prihomo" data-ng-init="init()">
    <div class="col-md-12">
      <p class="col-md-12">Kampoj markitaj kun * estas devigaj</p>
      <div class="form-group col-md-4">
        <label for="jaro">Titolo</label>
        <select class="form-control" ng-model="uzanto.titolo" ng-disabled="malkovrita">
          <option value="S-ro">Sinjoro</option>
          <option value="S-rino">Sinjorino</option>

          <option value="D-ro">Doktoro</option>
          <option value="D-rino">Doktorino</option>

          <option value="Profesoro">Profesoro</option>
          <option value="Profesorino">Profesorino</option>

          <option value="Magistro">Magistro</option>
          <option value="Magistro">Magistrino</option>

          <option value="Pastro">Pastro</option>
          <option value="Pastrino">Pastrino</option>
          <option value="">Alia (ne aplikebla)</option>
        </select>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group col-md-6"
           ng-class="{'has-error': (prihomo.personanomo.$touched || irita) && prihomo.personanomo.$invalid }">
        <label> Via(j) personnomo(j)*</label>
        <input type='text'
               class="form-control"
               name="personanomo"
               ng-model="uzanto.personanomo" required ng-disabled="malkovrita">
           <div class="help-block" ng-messages="prihomo.personanomo.$error"
                ng-show="prihomo.personanomo.$touched || irita">
              <div ng-messages-include="config/messages.html"></div>
            </div>
      </div>

      <div class="form-group col-md-6"
           ng-class="{'has-error': (prihomo.familianomo.$touched || irita) && prihomo.familianomo.$invalid}">
        <label> Via(j) familinomo(j)*</label>
        <input type="text"
               class="form-control"
               ng-model="uzanto.familianomo"
               name="familianomo" required ng-disabled="malkovrita">
        <div class="help-block"
             ng-messages="prihomo.familianomo.$error"
             ng-show="prihomo.familianomo.$touched || irita">
           <div ng-messages-include="config/messages.html"></div>
        </div>
      </div>
    </div>

    <div class="col-md-12"
        ng-class="{'has-error': (prihomo.naskigxitago.$touched || irita) && prihomo.naskigxitago.$invalid }">
      <div class="form-group col-md-6">
        <label>Naskiĝidato*</label>
        <input type="text"
                name="naskigxitago"
                ng-blur="updateEntuto()"
                class="form-control"
                ng-model="uzanto.naskigxtagoSenFormo"
                name="naskigxitago"
                size="23"
                placeholder="TT/MM/JJJJ"
                ui-mask="99/99/9999" ui-mask-placeholder required ng-disabled="malkovrita">
        <div class="help-block"
            ng-messages="prihomo.naskigxitago.$error"
            ng-show="prihomo.naskigxitago.$touched || irita">
        <div ng-messages-include="config/messages.html"></div>
      </div>
      <div class="help-block">
        TT/MM/JJJJ
      </div>
    </div>
  </div>

    </div>
    <div class="col-md-12">
      <h3>Adreso</h3>
      <div class="form-group col-md-12"
           ng-class="{'has-error': (prihomo.adreso.$touched || irita) && prihomo.adreso.$invalid}">
        <label for="adreso">Strata adreso kaj urbo*
                            (skribu en via loka lingvo)</label>
        <textarea class="form-control"
                  rows="5"
                  name="adreso"
                  ng-model="uzanto.adreso" required ng-disabled="malkovrita"></textarea>
        <p>Ĝi estas bezonata por fari fakturojn kaj por eventuale sendi
          aferojn, kaze vi mendos kelkajn el niaj revuoj kaj eldonaĵoj.</p>
        <div class="help-block"
             ng-messages="prihomo.adreso.$error"
             ng-show="prihomo.adreso.$touched || irita">
            <div ng-messages-include="config/messages.html"></div>
         </div>
      </div>

      <div class="form-group col-md-6"
           ng-class="{'has-error': (prihomo.posxtkodo.$touched || irita) && prihomo.posxtkodo.$invalid}">
        <label>Poŝtkodo*</label>
        <input type="text"
               class="form-control"
               name="posxtkodo"
               ng-model="uzanto.posxtkodo" required ng-disabled="malkovrita">
         <div class="help-block"
              ng-messages="prihomo.posxtkodo.$error"
              ng-show="prihomo.posxtkodo.$touched || irita">
             <div ng-messages-include="config/messages.html"></div>
          </div>
      </div>

      <div class="form-group col-md-6">
        <label>Loĝlando:</label>
        <br>
          <img src="{{landInformoj.flag}}" alt="flago" width="20"></img>
          {{uzanto.lando.radikoEo + uzanto.lando.finajxoEo}}
      </div>
    </div>

    <div class="col-md-12">
      <h3>Telefonoj</h3>
      <p>(Neniu informo pri telefonoj estas deviga)</p>
      <div class="form-group col-md-4">
        <label for="posxtelefono">Poŝtelefono</label>
        <div class="input-group">
          <span class="input-group-addon">+{{landInformoj.callingCodes[0]}}</span>
          <input type="telephone"
          id = "posxtelefono"
          class="form-control"
          ng-model="uzanto.telportebla" ng-disabled="malkovrita">
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="hejmtelefono">Hejmtelefono</label>
        <div class="input-group">
          <span class="input-group-addon">+{{landInformoj.callingCodes[0]}}</span>
          <input type="telephone"
          id = "hejmtelefono"
          class="form-control"
          ng-model="uzanto.telhejmo" ng-disabled="malkovrita">
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="teloficejo">Oficeja telefono</label>
        <div class="input-group">
          <span class="input-group-addon">+{{landInformoj.callingCodes[0]}}</span>
          <input type="telephone"
          id = "telofciejo"
          class="form-control"
          ng-model="uzanto.teloficejo" ng-disabled="malkovrita">
        </div>
      </div>
    </div>

    <div class="membrspaco col-md-12">
      <h3>Por aliri al via reta membrospaco</h3>
        <div class="col-md-6"
             ng-class="{'has-error': (prihomo.retposxto.$touched || irita) && prihomo.retposxto.$invalid }">
          <label for="retposxto"> Via retadreso*</label>
          <input type="email"
                  id="retposxto"
                  ng-change="prihomo.retposxto.$error = {}"
                  name="retposxto"
                  class="form-control"
                  ng-model="uzanto.retposxto" 
                  ng-disabled="malkovrita" required>
          <div class="help-block"
                ng-messages="prihomo.retposxto.$error"
                ng-show="prihomo.retposxto.$touched || irita">
               <div ng-messages-include="config/messages.html"></div>
          </div>
        </div>

        <div class="form-group col-md-6"
             ng-init="pasvorto=false"
             ng-class="{'has-error': (prihomo.pasvorto.$touched || irita) && prihomo.pasvorto.$invalid }">
          <label for="pasvorto"> Via pasvorto*</label>
          <input ng-attr-type="{{pasvorto?'text':'password'}}"
                 id="pasvorto"
                 name="pasvorto"
                 minlength=6
                 ng-model="uzanto.pasvorto"
                 class="form-control" 
                 ng-disabled="malkovrita" required>
          <div class="help-block"
                ng-messages="prihomo.pasvorto.$error"
                ng-show="prihomo.pasvorto.$touched || irita">
               <div ng-messages-include="config/messages.html"></div>
          </div>
          <p>
             <input type="checkbox" ng-click="pasvorto = !pasvorto"> Montri pasvorton
          </p>
        </div>
    </div>

    <div class="form-group text-center ">
      <a ui-sref="form.membrigxi" class="btn btn-outline-rounded btn-default">
            <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span>
            Antaŭa
      </a>
      <button type="button"
              name="malantauxa"
              ng-click="elPriUzanto()"
              class="btn btn-outline-rounded btn-default">
          Sekva
        <span style="margin-left:10px;"
              class="glyphicon glyphicon-arrow-right"></span></a>
      </button>
    </div>
</form>
