<div class="row">
    <div class="board">
        <!-- Circular Tab Area -->
        <div id="status-buttons">
            <h1 class="titolo">
              <img src="content/img/logoo.png"
              class="logoo" alt="logoo de UEA" height="50" width="50"></img>
              <img src="content/img/tejologoo.png"
              class="logoo" alt="logoo de TEJO" height="50" width="100"></img>
              <b>Aliĝilo</b> de UEA kaj TEJO
            </h1>

            <ul class="nav nav-tabs" id="myTab">
                <div class="liner"></div>
                <li>
                    <a ui-sref-active="active" ui-sref=".prihomo"
                       data-toggle="tab" title="prihomo"
                       id="tab1">
                        <span class="round-tabs">
                          <i class="fa fa-user" aria-hidden="true"></i>
                          <p class="round-tabs">Pri vi</p>
                        </span>
                    </a>
                </li>

                <li>
                    <a href=""
                       ui-sref-active="active" ui-sref=".membrigxi"
                       data-toggle="tab" title="membrigxi"
                       id="tab2">
                        <span class="round-tabs">
                          <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
                          <p class="round-tabs">Membreco</p>
                        </span>
                    </a>
                </li>

                <li>
                    <a ui-sref-active="active" ui-sref=".donaci"
                       data-toggle="tab" title="donaci"
                       id="tab3">
                        <span class="round-tabs">
                          <i class="fa fa-eur" aria-hidden="true"></i>
                          <p class="round-tabs">Donacoj</p>
                        </span>
                    </a>
                </li>

                <li>
                    <a ui-sref-active="active" ui-sref=".plusendi"
                       data-toggle="tab" title="plusendi"
                       id="tab4">
                        <span class="round-tabs">
                            <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                            <p class="round-tabs">Plusendi</p>
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div ui-view></div>
        </div>

        <p align="right">
          Tiu aliĝilo estis programita de
          <a href="https://asocio.net" target="_blank">
            Asocio.net - via asocio en la reto
          </a>
        </p>
    </div>
</div>
