<div class="kotizoj" data-ng-init="init()">
  <h1 class="col-md-12">
    Kotiztabelo
  </h1>
  <a href="#!/" class="col-md-12">
    Reveni al la aliĝilo
  </a>

  <p class="col-md-12">
    Niaj kotizoj ŝanĝas laŭ lande kaj laŭ kategorio. Bonvole, kontrolu en la onta tabelo: 
  </p>

  <div ng-show="!kategorioj || !landoj" style="margin-left: 10px">
      <p>ŝargas</p>
      <img src="content/img/sxargas.gif" alt="ŝargas" height="50px">
  </div>

  <table class="table table-striped" ng-if="kategorioj && landoj">
    <thead>
      <tr>
        <td>Landoj/kategorioj</td>
        <td ng-repeat="kategorio in kategorioj">
          {{kategorio.nomo}}
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="lando in landoj | localeOrderBy:'radikoEo'">
        <td>{{lando.radikoEo}}</td>
        <td ng-repeat="kategorio in kategorioj">
            {{kategorio.kotizoj[lando.id]/100 || 0}} {{lando.valuto}}
          </td>
      </tr>
    </tbody>
  </table>
</div>
