body {
 font-family: 'Montserrat';
}

.titolo {
  padding-top: 15px;
  padding-left: 25%;
  position: relative;
  font-size: 20px;
  color:black;
}

.btn-default {
    border-color:  #333333;
}

.tab-content .choice {
  text-align: center;
  cursor: pointer;
  margin-top: 38px;
}

.tab-content .choice i {
    font-size: 32px;
    line-height: 55px;
}

.btn-radio {
	width: 100%;
}
.img-radio {
	opacity: 0.8;
	margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}

/* active buttons */
#status-buttons a.active span.round-tabs {
    background: #326464;
    color: #fff
}

#status-buttons p.round-tabs {
    color: #326464;
}

.iradio_buttons {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: #febe29 no-repeat;
    border: none;
    cursor: pointer;
}
.iradio_buttons {
    background-position: -120px 0;
}
.iradio_buttons.hover {
    background-position: -144px 0;
}
.iradio_buttons.checked {
    background-position: -168px 0;
}
